body {
  background-color: lightblue;
  font-family: Tahoma, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 100px 200px;
  gap: 10px;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  font-weight: bold;
  font-size:34px;
  text-indent:12px;
 
}
.subhead {
  grid-column: 1 / 3;
  grid-row: 2;
  font-size:18px;
  text-indent:18px;
}
.two {
  grid-column: 3;
  grid-row: 2;
}
.three {
  grid-column: 3;
  grid-row: 3;
}
.four {
  grid-column: 3;
  grid-row: 4;
}
.five {
  grid-column: 3;
  grid-row: 5;
}
.six {
  grid-column: 3;
  grid-row: 6;
}