/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Large_table; 
	margin-left: 0in; 
	margin-right: 0in; 
	margin-top: 12pt; 
	margin-bottom: 12pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #000000; 
	border-right-color: #000000; 
	border-top-color: #000000; 
	border-bottom-color: #000000; 
	border-top-style: solid; 
	border-top-width: 3pt; 
	border-bottom-style: solid; 
	border-bottom-width: 3pt; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-left-style: solid; 
	border-left-width: 1px; 
	cell-padding-top: 6pt; 
	cell-padding-left: 6pt; 
	cell-padding-right: 6pt; 
	cell-padding-bottom: 4pt; 
}

mcTableColumnStyle {
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	background-color: #7f99b2; 
	separator-style: double; 
	separator-width: 3px; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #9fb2c5; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
.TableStyle_Large_table
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 3pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 3pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6pt 6pt 4pt 6pt;
}

.TableStyle_Large_table_Head_0_0
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0 p
{
	
}

.TableStyle_Large_table_Head_0_0_RowSep_ColSep
{
	background-color: #7f99b2;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Large_table_Head_0_0_RowSep
{
	background-color: #7f99b2;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0_RowSep p
{
	
}

.TableStyle_Large_table_Head_0_0_ColSep
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Head_0_0_ColSep p
{
	
}

.TableStyle_Large_table_Head_0_0_RowSep_ColEnd
{
	background-color: #7f99b2;
	border-bottom-width: 3px;
	border-bottom-color: #000000;
	border-bottom-style: double;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Large_table_Head_0_0_RowEnd
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0_RowEnd p
{
	
}

.TableStyle_Large_table_Head_0_0_RowEnd_ColSep
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Large_table_Head_0_0_RowEnd_ColEnd
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Large_table_Head_0_0_ColEnd
{
	background-color: #7f99b2;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Head_0_0_ColEnd p
{
	
}

.TableStyle_Large_table_Body_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0 p
{
	
}

.TableStyle_Large_table_Body_0_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Large_table_Body_0_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0_RowSep p
{
	
}

.TableStyle_Large_table_Body_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_0_0_ColSep p
{
	
}

.TableStyle_Large_table_Body_0_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Large_table_Body_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0_RowEnd p
{
	
}

.TableStyle_Large_table_Body_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Large_table_Body_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Large_table_Body_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_0_0_ColEnd p
{
	
}

.TableStyle_Large_table_Body_1_0
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0 p
{
	
}

.TableStyle_Large_table_Body_1_0_RowSep_ColSep
{
	background-color: #9fb2c5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Large_table_Body_1_0_RowSep
{
	background-color: #9fb2c5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0_RowSep p
{
	
}

.TableStyle_Large_table_Body_1_0_ColSep
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_1_0_ColSep p
{
	
}

.TableStyle_Large_table_Body_1_0_RowSep_ColEnd
{
	background-color: #9fb2c5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Large_table_Body_1_0_RowEnd
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0_RowEnd p
{
	
}

.TableStyle_Large_table_Body_1_0_RowEnd_ColSep
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Large_table_Body_1_0_RowEnd_ColEnd
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Large_table_Body_1_0_ColEnd
{
	background-color: #9fb2c5;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Body_1_0_ColEnd p
{
	
}

.TableStyle_Large_table_Foot_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0 p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowSep_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0_RowSep p
{
	
}

.TableStyle_Large_table_Foot_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Foot_0_0_ColSep p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowSep_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Large_table_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Large_table_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Large_table_Foot_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Large_table_Foot_0_0_ColEnd p
{
	
}


