/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: TitlePage2Columns;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	border-spacing-y: 0;
	border-spacing-x: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Column1;
	id: 0;
	cell-padding-left: 15px;
	cell-padding-right: 15px;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	text-align: left;
	cell-padding-left: 6px;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	name: Body1;
	id: 1;
	separator-style: none;
	separator-width: 6px;
	type: Automatic;
	text-align: left;
	font-size: 8pt;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-TitlePage2Columns
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-TitlePage2Columns .Column-Column1
{
	
}

.TableStyle-TitlePage2Columns .Head-Header1
{
	
}

.TableStyle-TitlePage2Columns .HeadI-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadI-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadE-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TitlePage2Columns .HeadE-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadF-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TitlePage2Columns .HeadF-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadH-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadH-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadD-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TitlePage2Columns .HeadD-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadC-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadC-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadB-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadB-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadA-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadA-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .HeadG-Column1-Header1
{
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-TitlePage2Columns .HeadG-Column1-Header1 p
{
	
}

.TableStyle-TitlePage2Columns .Foot-Footer1
{
	
}

.TableStyle-TitlePage2Columns .FootI-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .FootI-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootE-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TitlePage2Columns .FootE-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootF-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TitlePage2Columns .FootF-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootH-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TitlePage2Columns .FootH-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootD-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-TitlePage2Columns .FootD-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootC-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .FootC-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootB-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TitlePage2Columns .FootB-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootA-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .FootA-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .FootG-Column1-Footer1
{
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .FootG-Column1-Footer1 p
{
	
}

.TableStyle-TitlePage2Columns .Body-Body1
{
	
}

.TableStyle-TitlePage2Columns .BodyI-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyI-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyE-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border-bottom-width: 6px;
	border-bottom-style: none;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TitlePage2Columns .BodyE-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyF-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border-bottom-width: 6px;
	border-bottom-style: none;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyF-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyH-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TitlePage2Columns .BodyH-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyD-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	border-bottom-width: 6px;
	border-bottom-style: none;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyD-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyC-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyC-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyB-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-TitlePage2Columns .BodyB-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyA-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyA-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}

.TableStyle-TitlePage2Columns .BodyG-Column1-Body1
{
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

.TableStyle-TitlePage2Columns .BodyG-Column1-Body1 p
{
	font-size: 8pt;
	font-weight: normal;
}


