<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="426" MadCap:lastWidth="584">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Payment Methods Integration</h1>
        <p>The payment options available to customers purchasing through <MadCap:variable name="Primary.CompanyName" /> include most major credit cards, PayPal, e-check (ACH), international wire and purchase orders. </p>
        <p>Custom Layouts that you create (using the default layouts as your starting point) will provide functionality for all the payment methods that <MadCap:variable name="Primary.CompanyName" /> supports. If you created your layout prior to the release of ACH, international wire and purchase orders (August 31, 2010) and you want your customers to be able to use those payment methods, you will need to update your layout. </p>
        <h5>To update layouts that do not support ACH, international wire or purchase orders:</h5>
        <ul>
            <li>Follow the instructions provided in LayoutUpdates_Aug2010.pdf, which is available for downloading through this link: <a href="http://support.esellerate.net/FileManagement/Download/9de8c14809b94bd8bb04499c5c81d0ae" target="_blank">http://support.esellerate.net/FileManagement/Download/9de8c14809b94bd8bb04499c5c81d0ae</a></li>
        </ul>
        <h3 class="See_Also">See Also</h3>
        <p>
            <MadCap:xref href="../Miscellaneous/PayPalPayments.htm" target="" title="" alt="">PayPal Payments</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../Miscellaneous/ACHPayments.htm" target="" title="" alt="">E-check (ACH) Payments</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../Miscellaneous/WirePayments.htm" target="" title="" alt="">International Wire Payments</MadCap:xref>
        </p>
        <p>
            <MadCap:xref href="../Miscellaneous/POPayments.htm" target="" title="" alt="">Purchase Order Payments</MadCap:xref> <![CDATA[ ]]></p>
        <p><![CDATA[ ]]></p>
        <p>&#160;</p>
    </body>
</html>