<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="428" MadCap:lastWidth="523">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" />
    </head>
    <body>
        <h2>
            <MadCap:keyword term="Custom Layouts" />Custom Layouts</h2>
        <p>Available for use with Web Store <MadCap:conditionalText MadCap:conditions="Primary.Print,Primary.Online">and Embedded Web Store</MadCap:conditionalText> eSellers, Custom Layouts allow you nearly limitless control over the look, flow and content of your store layouts.</p>
        <p>Information on Custom Layouts appears here as follows:</p>
        <ul>
            <li>
                <MadCap:xref href="Layouts_CustomNotes.htm" target="" title="" alt="">Notes on Custom Layouts</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomCreate.htm" target="" title="" alt="">Creating Custom Layouts</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomAssign.htm" target="" title="" alt="">Assigning Custom Layouts to eSellers</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomSettings.htm" target="" title="" alt="">Settings Tab</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomFiles.htm" target="" title="" alt="">Files Tab</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomStyles.htm" target="" title="" alt="">Styles</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomTemplate.htm" target="" title="" alt="">Template File</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Sample_code_for_using.htm" target="" title="" alt="">Sample Code for Using &lt;_CONTENT&gt; Tags</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomVariablesN.htm" target="" title="" alt="">Variables Notes</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomPrefillDat.htm" target="" title="" alt="">Prefilling Data</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CLExt.htm" target="" title="" alt="">Custom Layout Extensions</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomReceiptPag.htm" target="" title="" alt="">Receipt Page Notes</MadCap:xref>
            </li>
            <li MadCap:conditions="Primary.Print,Primary.Online">
                <MadCap:xref href="Layouts_CustomPrepCLRece.htm" target="" title="" alt="">Preparing Custom Layouts for Receipts</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_CustomPaymentMethods.htm" target="" title="" alt="">Payment Methods Integration</MadCap:xref>
            </li>
        </ul>
    </body>
</html>