<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="157" MadCap:lastWidth="1169">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1><a name="Layouts_2469577869_26877"></a><a>Layouts</a>
        </h1>
        <p>The Layouts section of the <MadCap:variable name="Primary.CompanyName" /> Sales Manager is for working with the following features:</p>
        <ul>
            <li>
                <MadCap:xref href="Layouts_Custom.htm#Layouts_2469577869_261077">Custom Layouts</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Custom_Layout_Lexicon.htm">Custom Layout Lexicon</MadCap:xref>
            </li>
            <li>
                <MadCap:xref href="Layouts_Landing.htm#Layouts_2469577869_260638">Affiliate Landing Pages</MadCap:xref>
            </li>
        </ul>
    </body>
</html>