<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="217" MadCap:lastWidth="1024">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h2>Ad Hoc <MadCap:keyword term="variables:ad hoc" />Variables</h2>
        <p MadCap:conditions="Primary.Online">
            <MadCap:xref href="Layouts_CLExt.htm" target="" title="" alt="">Custom Layout Extensions</MadCap:xref>
        </p>
        <p>The capacity to preserve values is extended beyond defined  eSellerate variables to arbitrary, on-the-fly variables. These variables are denoted by the prefix _My., and persist throughout the web store visit, but not beyond it. As a server safety precaution, values are truncated to 4,000 characters in cases where they would otherwise be longer. If a variable is referenced before it is assigned a value, its value is blank.</p>
        <h3 class="See_Also">See Also</h3>
        <p MadCap:conditions="Primary.Online"><a href="Layouts_CustomVariablesN.htm">Defined eSellerate Variables</a>
        </p>
        <p MadCap:conditions="Primary.Print">Defined eSellerate Variables – <MadCap:xref href="Layouts_CustomVariablesN.htm" target="" title="" alt="">Variables Notes</MadCap:xref> <![CDATA[ ]]></p>
    </body>
</html>