<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="2767" MadCap:lastWidth="972">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" />
    </head>
    <body>
        <h2><a name="Layouts_2469577869_261308"></a><a name="Layouts_2469577869_20348"></a>Files Tab</h2>
        <p MadCap:conditions="Primary.Online"><a href="Layouts_Landing.htm">Landing Pages Overview</a>
        </p>
        <p>
            <img src="../Resources/Images/layouts_files_land.jpg" class="PWimg" MadCap:conditions="Primary.Print" />
        </p>
        <p>You can use the Files tab of the Landing Page Detail page to do any of the following:</p>
        <ul>
            <li><span MadCap:conditions="Primary.Online"><a href="#Listing">List</a> Landing Page files by type</span><span MadCap:conditions="Primary.Print">List Landing Page files by type</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Editing">Edit</a> Landing Page files within the Sales Manager</span><span MadCap:conditions="Primary.Print">Edit Landing Page files within the Sales Manager</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Downloading">Download</a> Landing Page files for offline editing</span><span MadCap:conditions="Primary.Print">Download Landing Page files for offline editing</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Uploading">Upload</a> completed Landing Page files</span><span MadCap:conditions="Primary.Print">Upload completed Landing Page files</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Discarding">Discard</a> changes made since the last publish date</span><span MadCap:conditions="Primary.Print">Discard changes made since the last publish date</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Inspecting">Inspect</a> the Landing Page for errors</span><span MadCap:conditions="Primary.Print">Inspect the Landing Page for errors</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Testing">Test</a> the Landing Page using any SKU/affiliate/query string combination as the parameters</span><span MadCap:conditions="Primary.Print">Test the Landing Page using any SKU/affiliate/query string combination as the parameters</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Publishing">Publish</a> the Landing Page for affiliate use</span><span MadCap:conditions="Primary.Print">Publish the Landing Page for affiliate use</span>
            </li>
            <li><span MadCap:conditions="Primary.Online"><a href="#Generating">Generate</a> custom URLs for Landing Pages that you release to limited groups</span><span MadCap:conditions="Primary.Print">Generate custom URLs for Landing Pages that you release to limited groups</span>
            </li>
        </ul>
        <p>More details on the functions provided by the Files tab follow.</p>
        <h3><a name="Listing"></a>Listing Landing Page files by Type</h3>
        <p>All Landing Page files are accessible from the Files tab. Use the <span class="strong">Show </span>list to list Landing Page files by type, such as HTML files or image files, or to list all files. (Selecting <span class="strong">All Files</span> will not list deleted files, which must be listed separately.) </p>
        <p>A Landing Page file's status will indicate whether it has been created, modified, renamed or deleted since the last publish date. Otherwise, if the file is current, no status will be shown.</p>
        <p class="pwNote"><span class="strong">Note:</span> Renamed status does not necessarily indicate that only the file name has changed. A file with Renamed status has been renamed, and possibly modified, since the last publish date.<br /></p>
        <p>To select Landing Page files for actions such as delete and duplicate, do one of the following:</p>
        <ul>
            <li>To select individual files, select the check box to the left of the file. </li>
            <li>To select all files listed, select the check box in the table heading.</li>
        </ul>
        <h3><a name="Editing"></a>Editing Landing Page Files Within the Sales Manager</h3>
        <p>You can duplicate or delete Landing Page files. After deleting a file, you have the option to undelete it at any time before you publish the modified Landing Page. To undelete a file, click the <span class="strong">Show</span> list and select <span class="strong">Deleted Files</span>. Select the check box to the left of the desired file and then click <span class="strong">Undelete</span>.</p>
        <p>To add a blank HTML file to the Landing Page, click <span class="strong">New HTML File</span>. If you need to add another type of Landing Page file, you will need to create the file offline and upload it.</p>
        <p>HTML and CSS files allow direct editing within the Sales Manager. To edit one of these Landing Page files, click its <span class="strong">File Name</span> field to display the Text File Editor page. From that page, you can do any of the following:</p>
        <ul>
            <li>Rename the file             <![CDATA[ ]]><ul><li>Duplicate Landing Page file names are not allowed. </li><li>Though a Landing Page can use multiple HTML files, the file that provides the main functionality must be named default.htm. For that reason, you cannot rename the default.htm file that is included with default Landing Pages. </li><li>The maximum file name length is 255 characters. </li></ul></li>
            <li>Type or paste in code changes </li>
            <li>Render the HTML code in a new browser window<ul><li>The rendered HTML will show formatting, but it will not read in live data for  eSellerate elements such as images and internal variable values.</li><li>This option is available on Internet Explorer only. Other browsers do not show a button for rendering the HTML code.</li></ul></li>
            <li>Revert changes made to the file since the last publish date </li>
            <li>Use the Tags &amp; Variables link to find information on how to dynamically customize various elements when the Landing Page file is rendered </li>
            <li>Save or discard your changes </li>
        </ul>
        <p>See also <MadCap:xref href="Layouts_LandingTagsVars.htm" target="" title="" alt="">Tags &amp; Variables</MadCap:xref> and <MadCap:xref href="Layouts_LandingVarNotes.htm#Layouts_2469577869_262033" target="" title="" alt="">Variables Notes</MadCap:xref>.</p>
        <h3><a name="Downloading"></a>Downloading Landing Page Files</h3>
        <p>To download Landing Page files to a Zip archive file (.zip) for offline editing, do the following:</p>
        <ol>
            <li>Use the <span class="strong">Show </span>list to display the desired Landing Page files. </li>
            <li>Select the files that you want to download. </li>
            <li>Click <span class="strong">Download</span>. </li>
        </ol>
        <h3><a name="Uploading"></a>Uploading Landing Page Files</h3>
        <p>After working on files offline, you can upload them to your Landing Page.</p>
        <p>Points to note before you upload files:</p>
        <ul>
            <li>The maximum number of files that you can upload at one time is 100 when using Internet Explorer for Windows and eight for other configurations. </li>
            <li>Uploading an existing file will replace it. </li>
            <li>The maximum file size allowed for uploads is 64 KB for HTML and CSS files and 1 MB for all other files. </li>
            <li>Duplicate Landing Page file names are not allowed. </li>
            <li>The maximum file name length is 255 characters. </li>
            <li><MadCap:variable name="Primary.CompanyName" /> supports uploading HTML files that have either .htm or .html file extensions. Both will be shown as type HTML within the Landing Page. </li>
        </ul>
        <p>To upload files, click <span class="strong">Upload Files</span> and follow the instructions provided.</p>
        <h3><a name="Discarding"></a>Discarding Changes Made to the Landing Page</h3>
        <p>If you need to discard changes that you've made to the Landing Page, you can do so for individual files or for the entire Landing Page, as follows:</p>
        <ul>
            <li>To revert changes made to an individual Landing Page file since the last publish date, click the file's <span class="strong">File Name</span> field, which will bring up the Text File Editor. Then click <span class="strong">Revert Content</span>. Also note: <ul><li>Reverting will only revert content. If a file has been renamed since the last publish date, the file name will be unchanged. </li><li>If a file is the only one in the Landing Page that has been modified since the last publish date, reverting the file will change the Landing Page's status back to current. </li><li>Revert is file name based. If there's not a published file for the file name selected, it can't be reverted. </li><li>The revert function will only be enabled if the file has been published. </li></ul></li>
            <li>To restore all changes made since the last publish date, click <span class="strong">Restore Published Landing Page</span>. This will restore the Files and Settings tabs to the configuration of the published Landing Page. Also note: <ul><li>If a file has been deleted since the last publish date, it will be restored. </li><li>If a file has been renamed since the last publish date, the restored file will use the original file name. </li><li>Landing Page Name and Comment on the Settings tab will not be restored.</li></ul></li>
        </ul>
        <h3><a name="Inspecting"></a>Inspecting the Landing Page</h3>
        <p>If you have made changes to a Landing Page since the last publish date (in which case the status will be Modified), you must inspect the Landing Page before you can publish it. Inspection checks for two conditions:</p>
        <ul>
            <li>The HTML file(s) within the Landing Page must use valid internal variables. Inspection checks basic usage such as: &lt;internal Sku123456780.short_description&gt;. It does not check internal variables used in conjunction with external variables, such as: &lt;internal Sku123456780.short_description&gt;. </li>
            <li>The Landing Page must include an HTML file named default.htm. Because of this requirement, all default Landing Pages include an HTML file named default.htm, and you cannot delete or rename the file within the Sales Manager. </li>
        </ul>
        <p>Errors will be reported on the Inspection Results page. You will need to correct the errors before the Landing Page can pass inspection and you can publish it.</p>
        <p>See also <MadCap:xref href="Layouts_LandingTagsVars.htm#Layouts_2469577869_261731">Tags &amp; Variables</MadCap:xref>.</p>
        <h3><a name="Testing"></a>Testing the Landing Page</h3>
        <p>The Files tab provides an interface for testing the Landing Page using any SKU/affiliate/query string combination as the parameters. </p>
        <h5>Notes</h5>
        <ul>
            <li>Affiliates have the option of providing a banner for use on their Landing Pages. This test will show affiliate banners when applicable. </li>
            <li>In contrast to eSeller testing methods such as the Preview URL for web stores, this test uses the edited version of the Landing Page, rather than the published version. </li>
            <li>This test is designed for verifying that everything appears on the Landing Page as expected. It is not designed for placing test orders. If you need to test the order functionality, a better choice is do so through Web Store or Embedded Web Store eSellers, which allow the use of preview certificates. </li>
        </ul>
        <p>To test the Landing Page, do the following:</p>
        <ol>
            <li>Make a selection from the <span class="strong">SKU</span> list. </li>
            <li>Make a selection from the <span class="strong">Affiliate </span>list. </li>
            <li>The <span class="strong">Query String Parameters</span> text field will display all external variables found in the Landing Page. Some of these variables will be prefilled with values. Enter a value for any variable that doesn't include one by default, with the exception of AT. You should leave the value for AT blank. </li>
            <li>Click<span class="strong"> Test Landing Page</span>. This will open a new browser window. </li>
        </ol>
        <h3><a name="Publishing"></a>Publishing the Landing Page</h3>
        <p>A Landing Page can have one of three statuses:</p>
        <ul>
            <li>Current, which indicates the Landing Page has not been edited since the last publish date</li>
            <li>Modified, which indicates the Landing Page has been modified since the last publish date, but has not yet passed inspection</li>
            <li>Pending, which indicates the Landing Page has been modified since the last publish date and has passed inspection, but has not yet been published</li>
        </ul>
        <p>Publishing a Landing Page replaces the previous Landing Page and makes the new one available to your affiliates. Before you click Publish, be sure to test the Landing Page using the SKUs and query string parameters that your affiliates will be using.</p>
        <h5>Notes</h5>
        <ul>
            <li>If affiliates are using this Landing Page, and you have modified the query string parameters so that existing URLs to this page will become invalid, you will need to take the following steps in addition to publishing:<ul><li>For each SKU that uses this Landing Page (as listed above), go to the Available SKU Detail level, update the query string parameters and then save your changes. Next, follow the instructions provided to send notification to your affiliates.</li><li>If applicable to this Landing Page, regenerate custom URLs and send them to your affiliates.</li></ul></li>
        </ul>
        <h3><a name="Generating"></a>Generating Custom URLs</h3>
        <p>You can use the Generate Custom URL feature to release Landing Pages to limited groups. See <MadCap:xref href="Layouts_LandingCustomURL.htm" target="" title="" alt="">Generating Custom URLs</MadCap:xref>.</p>
    </body>
</html>