<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="206" MadCap:lastWidth="407">
    <head>
        <link href="../Resources/Stylesheets/Styles.css" rel="stylesheet" />
    </head>
    <body>
        <h2>
            <MadCap:keyword term="Custom Layouts:creating" />Creating Custom Layouts</h2>
        <h5>To create a Custom Layout:</h5>
        <ol>
            <li>From the Default Layout Select page, select a default layout to use as a starting point for your new Custom Layout. </li>
            <li>Click <span class="strong">Create</span>. </li>
            <li>Follow the instructions provided at the Custom Layouts Settings and Files tabs to complete your layout. See <MadCap:xref href="Layouts_CustomSettings.htm#Layouts_2469577869_282832">Settings tab</MadCap:xref> and <MadCap:xref href="Layouts_CustomFiles.htm#Layouts_2469577869_243936">Files tab</MadCap:xref>.</li>
        </ol>
    </body>
</html>