<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" class="no-feedback" data-mc-search-type="Stem" data-mc-help-system-file-name="ApplicationHelp.xml" data-mc-path-to-help-system="../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Layouts|Custom Layouts">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Assignment Statements</title>
        <script type="text/javascript">/* <![CDATA[ */

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6362037-18']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		/* ]]> */</script>
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/StylesHTML5.css" rel="stylesheet" />
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <h2>Assignment Statements</h2>
        <p data-mc-conditions="Primary.Online"><a href="Layouts_CLExt.htm" title="" alt="" class="MCXref xref" xrefformat="{para}">Custom Layout Extensions</a>
        </p>
        <p class="pwNote"><span class="strong">Note:</span> A summary of the following information is available on the eSellerate Tags page (under "Value Assignment") at <a href="http://publishers.esellerate.net/tags.aspx" target="_blank">http://publishers.esellerate.net/tags.aspx</a>.</p>
        <p>Values can be directly assigned to variables—either defined or ad hoc—by using the assignment operator "=", when the assignments are enclosed in <span class="PrimaryCompanyName">eSellerate</span> &lt;_OnLoad&gt; or &lt;_OnPost&gt; tags.</p>
        <p>The tags can enclose one or more assignments. The variable to the left of the assignment operator can be either a defined eSellerate variable or an ad hoc _My variable. The value to the right can be another variable, a literal value, or an eSellerate function.</p>
        <p>&lt;_OnLoad&gt; or &lt;_OnPost&gt; tags can be enclosed in other tags—for example, in &lt;_Loop&gt; or conditional &lt;Span&gt;—but cannot themselves enclose other tags.</p>
        <p>&lt;_OnLoad&gt; assignments occur when the page is loaded or refreshed. &lt;_OnPost&gt; assignments occur when page inputs are submitted.</p>
        <p>In the following example, the result of an eSellerate function is assigned to an ad hoc variable. That variable is then used in further eSellerate functions to obtain a value assigned to a second variable.</p>
        <p class="pwcode"><font face="Courier New, Courier, mono">&lt;_OnLoad&gt;
					<br />&#160;&#160;&#160;_My.LoginReply =
					<br />&#160;&#160;&#160;&#160;&#160;&#160;_PostToURL(
					<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"http://vendor.com",
					<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;UserID=_My.UserName,
					<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Password=_My.Password
					<br />&#160;&#160;&#160;&#160;&#160;&#160;)
					<br />&#160;&#160;&#160;_My.IsValidUser =
					<br />&#160;&#160;&#160;&#160;&#160;&#160;_EvaluateBooleanExpression(
					<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;'_GetXmlValue(_My.LoginReply, "result")' ~= 'success'
					<br />&#160;&#160;&#160;&#160;&#160;&#160;)
				<br />&lt;/_OnLoad&gt;</font>
        </p>
        <p>&#160;</p>
    </body>
</html>