<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" class="no-feedback" data-mc-search-type="Stem" data-mc-help-system-file-name="ApplicationHelp.xml" data-mc-path-to-help-system="../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Layouts|Custom Layouts">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Preparing Custom Layouts for Receipts</title>
        <script type="text/javascript">/* <![CDATA[ */

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6362037-18']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		/* ]]> */</script>
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/StylesHTML5.css" rel="stylesheet" />
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <h2>Preparing Custom Layouts for Receipts</h2>
        <p>If you created your layout prior to the release of customizable receipts (February 6, 2008), you can leave the receipt settings as is, and a system page will continue to provide the online receipts for that layout. However, if you want the ability to customize the online receipts, you will need to update your layout as described here.</p>
        <h5>To update layouts that do not use customizable receipts:</h5>
        <ol>
            <li value="1">Download a receipt layout file from the <span class="PrimaryCompanyName">eSellerate</span> Downloads page. The link for accessing the downloads is on the Sales Manager home page, under the "What's New for eSellerate" information. (Use the "Custom Receipt Default Examples" link.)</li>
            <li value="2">Open the layout that you want to edit. The Files tab appears.</li>
            <li value="3">Click <span class="strong">Upload Files</span>. This displays a page with instructions on how to select and upload files.</li>
            <li value="4">Upload the receipt layout file that you downloaded for step 1.</li>
            <li value="5">Click the <span class="strong">Settings</span> tab to display that tab of the Custom Layout Detail page.</li>
            <li value="6">Set <span class="strong">Receipt Page</span> to the name of your receipt layout file.</li>
            <li value="7">Click <span class="strong">Update Settings</span>.</li>
            <li value="8">Inspect, test and publish the edited layout as you normally would.</li>
        </ol>
        <p>&#160;</p>
    </body>
</html>