<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" class="no-feedback" data-mc-search-type="Stem" data-mc-help-system-file-name="ApplicationHelp.xml" data-mc-path-to-help-system="../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Layouts|Affiliate Landing Pages">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Variables Notes</title>
        <script type="text/javascript">/* <![CDATA[ */

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6362037-18']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		/* ]]> */</script>
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/StylesHTML5.css" rel="stylesheet" />
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <h2>Variables Notes</h2>
        <p>As an alternative to hard coding everything that requires customization in your Landing Pages code, you can use variables to make the pages work for virtually any SKU/affiliate/query string combination. </p>
        <h3>Finding Information on Landing Page Variables</h3>
        <p>The primary resources for variables information are as follows:</p>
        <ul>
            <li value="1">The Tags &amp; Variables help page <ul><li value="1">To view this help, use the link displayed on the Text File Editor page when you edit individual HTML Landing Page files. (The content of that page is also available at <a href="Layouts_LandingTagsVars.htm#Layouts_2469577869_261731" title="" alt="" class="MCXref xref" xrefformat="{para}">Tags &amp; Variables</a>.)</li></ul></li>
            <li value="2">HTML files in the default Landing Pages <ul><li value="1">The HTML file included with every default Landing Page provides working examples of variables usage.</li></ul></li>
        </ul>
        <h3>Notes on Using Landing Page Variables</h3>
        <ul>
            <li value="1">External variables used in the default HTML file (default.htm) allow you to pass values through the URL query string. In most cases, you will pass those values by entering them into the <span class="strong">Query String Parameters</span> field when you assign Landing Pages to SKUs on the Available SKU Detail page. The values will then be included in the query string when affiliates use that Landing Page.</li>
            <li value="2">The default Landing Page "Landing Page 1 - With Coupons" allows you to pass information about coupon discounts through the query string. However, this Landing Page does not prefill the coupon ID into the shopping cart when the customer clicks the "Buy" link. If you would like to prefill the coupon ID, add it to the end of the query string as "&amp;coupon=" followed by the ID that customers would otherwise have to enter themselves. You might also want to modify the text that instructs customers to manually enter the ID, or "code."</li>
        </ul>
        <p>&#160;</p>
    </body>
</html>