<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" class="no-feedback" data-mc-search-type="Stem" data-mc-help-system-file-name="ApplicationHelp.xml" data-mc-path-to-help-system="../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Layouts|Custom Layouts">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Sample Code for Using &lt;_CONTENT&gt; Tags</title>
        <script type="text/javascript">/* <![CDATA[ */

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6362037-18']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		/* ]]> */</script>
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/StylesHTML5.css" rel="stylesheet" />
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <h2>Sample Code for Using &lt;_CONTENT&gt; Tags</h2>
        <p>The following code demonstrates how to use &lt;_CONTENT&gt; tags in template files and layout files, respectively. Note the required use of &lt;body&gt; tags in conjunction with the &lt;_CONTENT&gt; tags.</p>
        <p class="pwCode">
            <br /><font face="Courier New, Courier, mono">MyTemplate.htm:<br />&lt;html&gt;<br />&lt;body&gt;<br /> &#160;&#160;A. Common page header goes here<br /> &#160;&#160;&lt;_CONTENT&gt;<br />&#160;&#160;&#160;&#160;&#160;&#160;(irrelevant, page specific content B goes here)<br /> &#160;&#160;&lt;/_CONTENT&gt;&#160;  &#160;&#160;<br />&#160;&#160;C. Common page footer goes here<br />&lt;/body&gt;<br />&lt;/html&gt;</font>
        </p>
        <br />
        <p class="pwCode"><font face="Courier New, Courier, mono">MyPageOne.htm:<br />&lt;html&gt;<br />&lt;body&gt;<br />&#160;&#160;&#160;(irrelevant, will be replaced by template header A)<br /> &#160;&#160;&#160;&lt;_CONTENT&gt;<br />&#160;&#160;&#160;&#160;&#160;&#160;&#160;B. Put MyPageOne specific content here<br /> &#160;&#160;&#160;&lt;/_CONTENT&gt;<br />&#160;&#160;&#160;(irrelevant, will be replaced by template footer C)<br />&lt;/body&gt;<br />&lt;/html&gt;</font>
        </p>
        <p>&#160;</p>
    </body>
</html>