/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Illustration_Table; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 12pt; 
	margin-bottom: 12pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #000000; 
	border-right-color: #000000; 
	border-top-color: #000000; 
	border-bottom-color: #000000; 
	border-top-style: none; 
	border-bottom-style: none; 
	border-right-style: none; 
	border-left-style: none; 
	cell-padding-top: 6pt; 
	cell-padding-left: 6pt; 
	cell-padding-right: 6pt; 
	cell-padding-bottom: 4pt; 
}

mcTableColumnStyle {
	separator-style: none; 
}

mcTableHeadStyle {
}

mcTableBodyStyle {
	span: 1; 
	separator-style: none; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: none; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
.TableStyle_Illustration_Table
{
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6pt 6pt 4pt 6pt;
}

.TableStyle_Illustration_Table_Head_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0 p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowSep_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0_RowSep p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Head_0_0_ColSep p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowSep_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Head_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Head_0_0_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0 p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowSep_ColSep
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowSep
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0_RowSep p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_0_0_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowSep_ColEnd
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_0_0_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_1_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0 p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowSep_ColSep
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowSep
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0_RowSep p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_1_0_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowSep_ColEnd
{
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Body_1_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Body_1_0_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0 p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Foot_0_0_ColSep p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Illustration_Table_Foot_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle_Illustration_Table_Foot_0_0_ColEnd p
{
	
}


