/*<meta />*/

body
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	margin-left: 0em;
	padding-left: 1.5em;
	padding-right: 1em;
	border-bottom-width: .5em;
	border-left-width: .5em;
	border-right-width: .5em;
	border-top-width: .5em;
	font-size: 73%;
}

h1
{
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 8px;
	font-size: 140%;
	margin-bottom: 16px;
	background-color: #ffbf12;
	color: #000000;
}

h2
{
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 8px;
	font-size: 140%;
	margin-bottom: 16px;
	background-color: #ffbf12;
	color: #000000;
}

h3
{
	clear: both;
	width: 100%;
	font-size: 120%;
	border-bottom: solid 1px;
	margin: 0.83em;
	margin-bottom: 1.2em;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1.20em;
	color: #000000;
	border-bottom-color: #000000;
}

h4
{
	clear: both;
	margin-bottom: 1.2em;
	font-size: 120%;
	margin-top: 1.20em;
	color: #000000;
}

h5
{
	font-size: 100%;
	clear: both;
	margin-bottom: 1.00em;
	margin-top: 1.00em;
	color: #000000;
}

a.Popup
{
	
}

a:link
{
	color: #0000D0;
	text-decoration: underline;
}

a:visited
{
	color: #800080;
	text-decoration: underline;
}

a:active
{
	color: #FF0000;
	cursor: hand;
	text-decoration: underline;
}

a:hover
{
	color: #FF0000;
	cursor: hand;
	text-decoration: underline;
}

p
{
	margin-top: .5em;
	margin-bottom: 1.25em;
}

li
{
	color: #000000;
	margin-bottom: .6em;
	margin-top: .6em;
}

p.tip
{
	color: #BEF5BF;
	font-weight: bold;
	letter-spacing: normal;
	background-color: #696969;
	margin-bottom: 0.8em;
	margin-left: .1em;
	margin-top: 1.7em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-bottom-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	font-size: 1em;
}

li.MadCap1
{
	list-style: lower-alpha;
	margin-left: 1em;
}

td
{
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	margin-left: 0em;
	padding-left: 1.5em;
	padding-right: 1em;
	border-bottom-width: .5em;
	border-left-width: .5em;
	border-right-width: .5em;
	border-top-width: .5em;
	font-size: 1.00em;
}

td.Body
{
	background-color: #000080;
	padding-right: 10px;
	padding-left: 10px;
	border-top-color: #ffffff;
	border-top-style: Solid;
	border-top-width: 2px;
	border-right-width: 2px;
	border-right-style: Solid;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
}

.TBLhead
{
	color: #002b00;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	font-weight: bold;
}

img
{
	border: none;
}

p.MadCap2
{
	
}

@media print
{
	body
	{
		font-size: 70%;
	}

	MadCap|xref
	{
		color: #0000ff;
		text-decoration: underline;
		mc-format: '{color blue}{u}{quote}{paratext}{quote} {pageref}{/u}{/color}';
	}

	h3
	{
		mc-heading-level: 0;
		font-size: 110%;
		margin-bottom: 1.2em;
	}

	h4
	{
		mc-heading-level: 0;
		margin-bottom: 1.2em;
	}

	h5
	{
		mc-heading-level: 0;
	}

	h6
	{
		mc-heading-level: 0;
	}

	h1
	{
		border-bottom-style: solid;
		font-size: 130%;
		border-bottom-width: 0.5pt;
		margin-top: 0em;
		margin-bottom: 2.10em;
	}

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	MadCap|tocProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	table
	{
		
	}

	td.Body
	{
		font-size: 0.9em;
		page-break-inside: avoid;
		padding-left: 1.50em;
	}

	td
	{
		font-size: 0.9em;
		page-break-inside: avoid;
		padding-left: 1.50em;
	}

	tbody
	{
		
	}

	div.GlossaryPageDefinition
	{
		font-size: 9pt;
	}

	div.GlossaryPageTerm
	{
		font-size: 9pt;
	}

	div.GlossaryPageHeading
	{
		border-bottom-style: none;
		margin-bottom: 5pt;
	}

	MadCap|glossaryProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	a.GlossaryPageTerm
	{
		
	}

	h2
	{
		margin-bottom: 1.75em;
		font-size: 130%;
		page-break-before: always;
		margin-top: 0em;
	}

	p
	{
		margin-bottom: 1.25em;
	}

	p.pwNoteNoIndent
	{
		margin-top: 1.00em;
	}

	img.PWimg
	{
		max-width: 4.00in;
		border: solid 0.25px;
	}
}

MadCap|xref
{
	mc-format: '{para}';
}

p.pwNote
{
	letter-spacing: normal;
	margin-left: .1em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-style: Solid;
	border-top-width: 1px;
	font-size: 1em;
	background-color: #ddedfe;
	border-top-color: #d3d3d3;
	border-bottom-color: #d3d3d3;
	margin-bottom: 1em;
	margin-top: 1.00em;
}

span.strong
{
	font-weight: bold;
}

p.pwNoteNoIndent
{
	letter-spacing: normal;
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-top-style: Solid;
	border-top-width: 1px;
	font-size: 1em;
	background-color: #ddedfe;
	border-top-color: #d3d3d3;
	border-bottom-color: #d3d3d3;
	margin-left: 0em;
	margin-bottom: 1.0em;
	margin-top: 1.00em;
}

img.PWimg
{
	border: solid 1.00px #000000;
	max-width: 5.00in;
}

p.IndexHeading
{
	text-align: left;
}

li.Indent1
{
	margin-left: 40px;
}

li.Indent2
{
	margin-left: 80px;
}

li.Indent3
{
	margin-left: 120px;
}

MadCap|glossaryProxy
{
	border-top-width: 1px;
}

div.GlossaryPageHeading
{
	border-bottom-width: 0px;
}

MadCap|miniTocProxy
{
	border-top-width: 1px;
}

MadCap|tocProxy
{
	border-top-width: 0px;
}

p.TOC1
{
	
}

MadCap|xref.no_underlines_xref
{
	text-decoration: none;
}

