/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Rows; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	cell-padding-left: 6px; 
	cell-padding-right: 6px; 
	cell-padding-top: 6px; 
	cell-padding-bottom: 6px; 
	border-spacing-y: 0; 
	margin-left: 0px; 
	margin-top: 0px; 
	margin-bottom: 10px; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	text-align: left; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	background-color: #696969; 
	color: #ffffff; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #d3d3d3; 
	text-align: left; 
	vertical-align: top; 
}

mcTableBodyStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	vertical-align: top; 
	text-align: left; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #000000; 
	background-color: #c0c0c0; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Rows
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6px 6px 6px 6px;
}

.TableStyle_Rows_Head_0_0
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0 p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowSep_ColSep
{
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Head_0_0_RowSep_ColSep p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowSep
{
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0_RowSep p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_ColSep
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Head_0_0_ColSep p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowSep_ColEnd
{
	background-color: #696969;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0_RowSep_ColEnd p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowEnd
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0_RowEnd p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowEnd_ColSep
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Head_0_0_RowEnd_ColSep p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_RowEnd_ColEnd
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0_RowEnd_ColEnd p
{
	color: #ffffff;
}

.TableStyle_Rows_Head_0_0_ColEnd
{
	background-color: #696969;
	color: #ffffff;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Head_0_0_ColEnd p
{
	color: #ffffff;
}

.TableStyle_Rows_Body_0_0
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowSep
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_ColSep
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowEnd
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_0_0_ColEnd
{
	font-weight: normal;
	vertical-align: top;
	background-color: #d3d3d3;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Rows_Body_1_0
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0 p
{
	
}

.TableStyle_Rows_Body_1_0_RowSep_ColSep
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Rows_Body_1_0_RowSep
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0_RowSep p
{
	
}

.TableStyle_Rows_Body_1_0_ColSep
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_1_0_ColSep p
{
	
}

.TableStyle_Rows_Body_1_0_RowSep_ColEnd
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Rows_Body_1_0_RowEnd
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0_RowEnd p
{
	
}

.TableStyle_Rows_Body_1_0_RowEnd_ColSep
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Rows_Body_1_0_RowEnd_ColEnd
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Rows_Body_1_0_ColEnd
{
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Body_1_0_ColEnd p
{
	
}

.TableStyle_Rows_Foot_0_0
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0 p
{
	
}

.TableStyle_Rows_Foot_0_0_RowSep_ColSep
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Rows_Foot_0_0_RowSep
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0_RowSep p
{
	
}

.TableStyle_Rows_Foot_0_0_ColSep
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Foot_0_0_ColSep p
{
	
}

.TableStyle_Rows_Foot_0_0_RowSep_ColEnd
{
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Rows_Foot_0_0_RowEnd
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Rows_Foot_0_0_RowEnd_ColSep
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Rows_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Rows_Foot_0_0_RowEnd_ColEnd
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Rows_Foot_0_0_ColEnd
{
	background-color: #c0c0c0;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle_Rows_Foot_0_0_ColEnd p
{
	
}


